In [13]:
from pandas_datareader import data as pdr
import pandas as pd
from datetime import datetime
import yfinance as yf

In [42]:
today = datetime.today()
d1 = today.strftime("%Y,%#m,%#d")
y =  int(today.strftime("%Y"))
m =  int(today.strftime("%#m"))
d =  int(today.strftime("%#d"))

In [43]:
# market data
yf.pdr_override()
symb = 'TSLA'
strt = datetime(2017,2,27)
end = datetime(y,m,d)
df_tsla = pdr.get_data_yahoo(symb, start = strt, end=end)

[*********************100%%**********************]  1 of 1 completed

In [45]:
ticker = yf.Ticker("TSLA")
ticker.balance_sheet

,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Ordinary Shares Number,3164000000.0,3099000000.0,2880000000.0,2715931290.0
Share Issued,3164000000.0,3099000000.0,2880000000.0,2715931290.0
Net Debt,NaN,NaN,NaN,7151000000.0
Total Debt,3099000000.0,6834000000.0,11739000000.0,13419000000.0
Tangible Book Value,44111000000.0,28472000000.0,21705000000.0,6081000000.0
...,...,...,...,...
Receivables,2952000000.0,1913000000.0,1886000000.0,1324000000.0
Accounts Receivable,2952000000.0,1913000000.0,1886000000.0,1324000000.0
Cash Cash Equivalents And Short Term Investments,22185000000.0,17707000000.0,19384000000.0,6268000000.0
Other Short Term Investments,5932000000.0,131000000.0,NaN,NaN
Cash And Cash Equivalents,22185000000.0,17576000000.0,19384000000.0,6268000000.0